:root {
  /* Base */
  --color-background: #4b2e2a; /* Madera oscura, fondo principal */
  --color-card: #faf3e0; /* Blanco cálido, fondo de las cards */

  /* Acentos */
  --color-primary: #e07a5f; /* Naranja terracota, botones principales */
  --color-secondary: #f2cc8f; /* Dorado suave, hovers y estado leído */
  --color-accent: #81b29a; /* Verde oliva suave, estado no leído */
  --color-danger: #b35c44; /* Rojo tierra, botón Remove y Cancel */
  --color-input: #d9cfc3; /* Color para input */

  /* Texto */
  --color-text-light: #f4ede4; /* Texto claro sobre fondo oscuro */
  --color-text-dark: #2d2d2a; /* Texto oscuro sobre cards claras */

  /* Margenes y Padding */

  --general-margin: 3rem;
  --general-padding: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Body */

body {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
}

/* Header and new book button */

h1 {
  color: var(--color-text-light);
  font-size: 3rem;
  font-weight: 300;
}

button {
  padding: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-weight: 200;
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
  border: 1px solid var(--color-text-light);
}

button:active {
  border: 1px solid var(--color-primary);
  transform: translate(-1px, 1px);
  box-shadow: none;
}

/* Form */

#bookDialog {
  /* 1. Centra la caja del diálogo */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  width: 400px;
  height: 550px;
  background-color: rgba(250, 243, 224, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 245, 0.3);
  box-shadow: 3px 4px 28px 0 rgba(0, 0, 0, 0.3),
    inset 0 3px 6px 0 rgba(244, 237, 228, 0.4),
    inset 0 -4px 10px rgba(0, 0, 0, 0.25);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  filter: blur(6px);
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

dialog[open]::backdrop {
  opacity: 1;
}

#bookDialog::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    transparent 100%
  );
  border-radius: inherit;
  pointer-events: none;
}

#bookDialog[open] {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#bookDialog:not([open]) {
  opacity: 0;
  transform: translate(-50%, -48%) scale(0.97);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  padding: 3rem;
  color: #f4ede4;
}

form h2 {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 300;
  border-bottom: 1px solid #f4ede4;
  width: 100%;
  padding-bottom: 1rem;
}

label {
  margin-top: 1rem;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 200;
  pointer-events: none;
}

.glass-input {
  width: 100%;
  margin: 0.5rem 0;
  height: 1.75rem;
  padding: 0.5rem;
  background-color: rgba(217, 207, 195, 0.45);
  color: #f4ede4;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3),
    inset 0 4px 4px rgba(255, 255, 255, 0.3),
    inset 0 -1px 3px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  transition: border 0.3s ease-out, box-shadow 0.3s ease-out,
    background-color 0.3s ease-out;
}

input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

.readLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.readInput {
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 1rem;
  background-color: rgba(217, 207, 195, 0.45);
  color: #f4ede4;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3),
    inset 0 4px 4px rgba(255, 255, 255, 0.3),
    inset 0 -1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  pointer-events: auto;
}

.readInput:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='none' stroke='%23f4ede4' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.readInput:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Form buttons */

menu {
  width: 100%;
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

menu button {
  flex: 1;
}

#cancelButton {
  background-color: rgba(204, 69, 50, 0.95);
  color: #f4ede4;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3),
    inset 0 4px 4px rgba(255, 255, 255, 0.3),
    inset 0 -1px 3px rgba(0, 0, 0, 0.2);
}

#submitBook {
  background-color: rgba(129, 178, 154, 0.95);
  color: #f4ede4;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3),
    inset 0 4px 4px rgba(255, 255, 255, 0.3),
    inset 0 -1px 3px rgba(0, 0, 0, 0.2);
}

#submitBook:hover {
  background-color: rgba(149, 198, 174, 0.95);
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.4);
}

#cancelButton:hover {
  background-color: rgba(224, 89, 70, 0.95);
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.4);
}

button,
#submitBook,
#cancelButton {
  transition: background-color 0.25s ease-in-out, border 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
}
